*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
#logo{
    width: 100px;
    height: auto;
    border-radius: 50%;
}
#nav-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-link li{
    list-style: none;
    margin: 10px;
    font-size: 15px;
}
#nav-link li:hover{
    transform: scale(1.2);
}
#nav-link li a{
    text-decoration: none;
    color: #fff;
}
#nav-link li a:hover{
    text-decoration: 2px rgb(238, 81, 8) solid underline ; 
}
.hero{
    height: 100vh;
    padding: 20% auto;
    position: relative;
    background: linear-gradient(rgba(233, 71, 71, 0.7), rgba(122, 11, 11, 0.4)), url(images/hero.webp);
}
.hero .hero-title {
    margin-top: 5%;
}
.hero h1{
    font-size: 100px;
    text-align: center;
    margin: 10px 0 ;
    color: #fff;
}
.hero h2{
    font-size: 60px;
    text-align: center;
    margin: 10px 0;
    color: #ffffd9;
}
.hero p{
    width: 60%;
    font-size: 20px;
    line-height: 2;
    margin: 10px auto;
    text-align: center;
    color: #ffffd1;
}
.cta-btn{
    padding: 20px 35px;
    background-color: rgb(238, 81, 8);
    color: white;
    text-decoration: none;
    border-radius: 20px;
}
.cta-btn:hover{
    transition: all 0.5s ease;
    background-color: #fff;
    color: #000;
}
.btn{
    margin: 30px auto;
}
.btn:hover{
    transition: all 0.5s ease;
    transform: scale(1.2);
}

/*--------------- about------------------------ */
#about{
   background-color: rgba(238, 81, 8, 0.7);
   padding: 50px;
   width: 70%;
   margin: 0 auto;
   position: absolute;
   top: 90%;
   left: 14%;
   border-radius: 30px;
}

#about .about-container {
   text-align: center;
}

#about .about-container h2{
    color: #fff;
    font-size: 50px;
}

#about .about-container p{
    color: #ffffd9;
    font-size: 20px;
    line-height: 1.5;
    width: 70%;
    margin: 0 auto;
}
/* -------------------mission------------------- */
#mission{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#mission .mission-image{
    margin: 0 20px;
}
#mission .mission-image img{
    width: 800px;
    height: auto;
    border-radius: 20px;
}
#mission .mission-text{
    text-align: center;
    padding: 0 20px;
}
#mission .mission-text h2{
    font-size: 50px;
    color: rgb(238, 81, 8);
}
#mission .mission-text p{
    line-height: 2;
    font-size: 20px;
}

/* ===============value========================= */
#values{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#values .value-image{
    margin: 0 20px;
}
#values .value-image img{
    width: 800px;
    height: auto;
    border-radius: 20px;
}
#values .value-text{
    text-align: center;
    padding: 0 20px;
}
#values .value-text h2{
    font-size: 50px;
    color: rgb(238, 81, 8);
}
#values .value-text p{
    line-height: 2;
    font-size: 20px;
}

/* -----------------offer---------------------------- */
#offer{
    margin: 50px 20px;
}
#offer h2{
    font-size: 50px;
    color: rgb(238, 81, 8);
    text-align: center;
}
#offer .offer-container{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    margin: 25px auto;
}
#offer .offer-container .offer-item{
    width: 500px;
    height: 100px;
    padding: 20px 10px;
    margin: 0 5px;
    background-color: rgb(245, 238, 235);
    border-radius: 10px;
}
#offer .offer-container .offer-item h3{
    font-size: 20px;
    color: rgb(197, 120, 85);
    margin-bottom: 10px;
}
#offer .offer-container .offer-item p{
    font-size: 16px;
    line-height: 1.5;
}

/* -------------------courses------------------------------ */
#course{
    margin: 50px 20px;
}
#course h2{
    text-align: center;
    font-size: 50px;
    color: rgb(238, 81, 8);
    margin: 20px 0;
}
#course .course-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto;
}
#course .course-container .course-item{
    margin: 0 10px;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background-color: rgb(245, 238, 235);
}
#course .course-container .course-item .course-image{
   
}
#course .course-container .course-item .course-image img{
    width: 100%;
    height: auto;
}
















