*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 100px;
    height: auto;
}
#nav-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-link li{
    list-style: none;
    margin: 10px;
    font-size: 15px;
}
#nav-link li a{
    text-decoration: none;
    color: black;
}
#nav-link li a:hover{
    text-decoration: 2px rgb(238, 81, 8) solid underline ; 
}
.hero{
    height: 100vh;
    
}